h2 {
  font-size: 14px;
}

h6 {
  font-weight: 100;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 4px;
  color: #f8f9fa;
  max-width: 430px;
  position: relative;
  margin: 0 auto;
}

ul {
  font-weight: 300;
  text-transform: capitalize;
  font-size: 17px;
  color: #999;
  letter-spacing: 2px;
  position: relative;
}

ul p {
  color: white;
  padding: 2px;
  font-size: 12px;
}

a {
  color: #999;
  cursor: default;
}

a:hover {
  color: white;
  text-decoration: none;
}

a.source {
  color: #999;
}

a.source:hover {
  color: rgb(25, 0, 255);
  text-decoration: none;
  cursor: pointer;
}

hr {
  background-color: white;
  overflow: visible;
  display: block;
  margin: 5px;
}

#pressureName {
  color: rgb(100, 100, 100);
}

#humidityName {
  color: rgb(114, 114, 114);
}

#background {
  background-image: linear-gradient(to bottom, #333333 0%, #cccccc 100%);
}
#temperature {
  font-family: sans-serif;
  font-weight: 200;
  margin-left: 14px;
}

#city {
  text-transform: uppercase;
  padding-left: 4%;
  font-weight: 800;
  font-size: 2.5rem;
}

#description {
  color: #d3d3d3;
  font-weight: 100;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: -25px;
}

#link {
  font-size: 10px;
  text-align: center;
}

#search-form {
  opacity: 0.25;
}

.container {
  padding: 10px;
}

.form-control {
  font-size: 14px;
  border: none;
}

.temperature-metric {
  font-size: 14px;
  position: relative;
  top: 50px;
  left: 25px;
  padding: 25px;
  max-width: 100px;
  color: #999;
}

.active {
  color: white;
}

.forecast {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-left: -4px;
  margin-top: -4px;
}

.forecast-temperature {
  font-size: 25px;
  text-align: center;
}

forecast.img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: #ffdcc8;
    width: 90%;
  }
  div.container {
    height: 600px;
  }
  div h6 {
    font-size: 10px;
  }
  div h2 {
    margin-top: -14px;
  }
  div ul {
    font-size: 12px;
  }
  div .temperature-metric {
    font-size: 14px;
    position: relative;
    right: 50px;
    left: 50px;
    padding: 14px;
  }
  div.forecast-temperature {
    margin-top: -25px;
    margin-left: -2px;
  }
  #fahrenheit-link {
    color: #838282;
  }
  #metric-separation {
    color: #838282;
  }
}
