h2 {
  font-size: 14px;
}

h6 {
  font-weight: 100;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 4px;
  color: #f8f9fa;
  max-width: 430px;
  position: relative;
  margin: 0 auto;
}

ul {
  font-weight: 300;
  text-transform: capitalize;
  font-size: 17px;
  color: #999;
  letter-spacing: 2px;
  position: relative;
}

ul p {
  color: white;
  padding: 2px;
  font-size: 12px;
}

a {
  color: #999;
  cursor: default;
}

a:hover {
  color: white;
  text-decoration: none;
}

a.source {
  color: #999;
}

a.source:hover {
  color: rgb(25, 0, 255);
  text-decoration: none;
  cursor: pointer;
}

hr {
  background-color: white;
  overflow: visible;
  display: block;
  margin: 5px;
}

#pressureName {
  color: rgb(117, 117, 117);
}

#humidityName {
  color: rgb(124, 124, 124);
}

#background {
  background-image: linear-gradient(to bottom, #333333 0%, #cccccc 100%);
}
#temperature {
  font-family: sans-serif;
  font-weight: 200;
  margin-left: 14px;
}

#city {
  text-transform: uppercase;
  padding-left: 4%;
  font-weight: 800;
  font-size: 2.5rem;
}

#description {
  color: #d3d3d3;
  font-weight: 100;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: -25px;
}

#link {
  font-size: 10px;
}

.form-control {
  font-size: 14px;
  border: none;
}

.temperature-metric {
  font-size: 14px;
  position: relative;
  top: -50px;
  max-width: 100px;
  color: #999;
}

.active {
  color: white;
}

.forecast {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-left: -4px;
  margin-top: -4px;
}

.forecast-temperature {
  font-size: 25px;
  text-align: center;
}

forecast.img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}
